*
{
    padding: 0%;
    margin: 0%;
}


.navbar {
    display: flex;
    font-family: 'Questrial', 'Arial', sans-serif;
    font-size: 25pt;
    padding: 2%;
    margin: 0;
    
}

.cartaoalinhado {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 1%;
    justify-content: center;
    margin: 10px;
    width: 100%;

}

.card {
    margin: 4%

}

.card-text {
    text-align: justify;
}

footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #A9F5BC;
    color: black;
    text-align: center;
    padding: 0;
    margin: 0;
    font-family: 'Questrial', 'Arial', sans-serif;
}

.formulario
{
    display: flex;
    font-family: 'Rubik', 'Arial' sans-serif;
    padding: 1%;
    margin: 0%;
}

